@charset "UTF-8";

/* 共通部分
------------------------------- */
    html {
        font-size: 100%;
        text-align: center;
    }
    h1 {
        color: white;
    }

    .left {
    }
        /* ヘッダー・フッター
        ------------------------------- */
        header,
        footer {
            background-color: rgb(170, 170, 170);
            color: white;
            text-align: left;
        }
        .menus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            margin-right: 8%;
            margin-left: 8%;
        }
        .menu {
            display: inline-block;
            font-size: 1rem;
            background-color: #d5d2d2;
            color: black;
            font-weight: lighter;
            margin: 1px;
            padding: 10px;
            transition: .5s;
        }
        a {
            text-decoration: none;
        }

    .right {
        overflow: hidden; /* ← ページのスクロールを無効にする */
        }
        /* マップ
        ----------------------------------- */
        .maps {
            padding: 0;
        }
        #map {
            margin: 0;
        }

/* デスクトップ版
------------------------------- */
    @media (min-width: 800px) {
        /* 分割 */
        .test {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        #map {
            height: 100vh; /* 画面いっぱい */
            width: 100%; 
        }
    }